<div class="card">
    <div class="card-body">
        <div class="form-group max-height">
            <h4>Pacientes</h4>
            <input type="text" class="form-control" name="nombre" placeholder="Buscar..." [(ngModel)]="searchText"
                (input)="mostrarLista = (searchText.length > 0)">
            <ul class="list-group mt-2" *ngIf="mostrarLista">
                <li class="list-group-item" *ngFor="let paciente of filtrarOpciones(searchText)"
                    (click)="seleccionarPaciente(paciente)">{{ paciente.nombre }}</li>
            </ul>

        </div>

        <div class="row">
            <div class="col-12">
                <h4>Datos del paciente</h4>

                <form [formGroup]="pacienteForm">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="nombre" class="mr-2">Nombre:</label>
                            <input type="text" formControlName="nombre" class="form-control mr-2"
                                [readonly]="mostrarInformacion">

                            <label for="alergia" class="mr-2">alergia:</label>
                            <input type="text" formControlName="alergia" class="form-control"
                                [readonly]="mostrarInformacion">

                        </div>
                        <div class="form-group col-md-2">
                            <label for="apellido" class="mr-2">Apellido:</label>
                            <input type="text" formControlName="apellido" class="form-control"
                                [readonly]="mostrarInformacion">

                            <label for="telefono" class="mr-2">Teléfono:</label>
                            <input type="text" formControlName="telefono" class="form-control"
                                [readonly]="mostrarInformacion">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="email" class="mr-2">Email:</label>
                            <input type="text" formControlName="email" class="form-control"
                                [readonly]="mostrarInformacion">


                            <label for="direccion" class="mr-2">Dirección:</label>
                            <input type="text" formControlName="direccion" class="form-control mr-2"
                                [readonly]="mostrarInformacion">

                        </div>

                        <div class="form-group col-md-2">
                            <label for="rut" class="mr-2">Rut:</label>
                            <input type="text" formControlName="rut" class="form-control"
                                [readonly]="mostrarInformacion">
                            
                            <label for="is_activo" class="mr-2">Estado:</label>
                            <input type="text" formControlName="is_activo" class="form-control"
                                [readonly]="mostrarInformacion">

                        </div>
                        <div class="form-group col-md-2">
                            <label for="edad" class="mr-2">edad:</label>
                            <input type="text" formControlName="edad" class="form-control"
                                [readonly]="mostrarInformacion">

                            <label for="prevencion" class="mr-2">Prevencion:</label>
                            <input type="text" formControlName="prevencion" class="form-control"
                                [readonly]="mostrarInformacion">
                        </div>
                    </div>


                </form>
                <button class="btn btn-primary mt-2" *ngIf="mostrarInformacion"
                    (click)="toggleInformacion()">Editar</button>
                <button class="btn btn-primary mt-2" *ngIf="mostrarInformacion" (click)="irAgregarPaciente()">Agregar
                    paciente</button>

                <button class="btn btn-primary mr-2" *ngIf="!mostrarInformacion"
                    (click)="guardarCambios()">Guardar</button>
                <button class="btn btn-secondary" *ngIf="!mostrarInformacion"
                    (click)="cancelarEdicion()">Cancelar</button>


            </div>

        </div>


    </div>

</div>