<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h4>Agendas pendientes</h4>
            <app-agenda-list></app-agenda-list>
        </div>
    </div>
</div>
</div>




<div class="row">
    <div class="col-md-6">
        <h1 class="card-title">Agendamientos</h1>
        <app-grafica-pie></app-grafica-pie>
    </div>
    <div class="col-md-6">
        <h1 class="card-title">Visitas</h1>
        <app-grafica-pie></app-grafica-pie>
    </div>
</div>
