<app-toolbar></app-toolbar>
<div class="row">
<div class="col-md-6">
    <img src="../../../../../assets/images/Logo_login.png" class="imagen-fondo "
        style="float: left; margin-right: 20px; ">
</div>
<div class="col-md-6">

    <div class="container">
        <div class="row">
            <mat-card style="border-radius: 20px; width: 400px; margin-top: 10%;">
                <mat-card-title class="text-center">Iniciar sesión</mat-card-title>

                <mat-card-content class="mt-4">
                    <form autocomplete="do-not-autofill" class="mb-4" [formGroup]="loginUsuario"
                        (ngSubmit)="onSubmitUsuario()">


                        <div class="row center mt-4">

                            <div class="col s12 ">
                                <mat-form-field appearance="outline" style="width:100% ;">
                                    <mat-label>Correo electrónico</mat-label>
                                    <input matInput required formControlName="email"
                                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                    <mat-error
                                        *ngIf="loginUsuario.get('email')?.touched && loginUsuario.get('email')?.errors?.['required']">
                                        El correo electónico es <strong>requerido</strong>
                                    </mat-error>
                                    <mat-error *ngIf="loginUsuario.get('email')?.errors?.['pattern']">
                                        Ingrese un formato válido
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row center">

                            <div class="col s12 ">
                                <mat-form-field appearance="outline" style="width:100% ;">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput [type]="hidePassUsuario ? 'password' : 'text'"
                                        formControlName="contraseña">
                                    <mat-icon matSuffix (click)="hidePassUsuario = !hidePassUsuario">
                                    </mat-icon>
                                    <mat-error
                                        *ngIf="loginUsuario.get('contraseña')?.touched && loginUsuario.get('contraseña')?.errors?.['required']">
                                        La Contraseña es <strong>requerida</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Olvidaste tu contraseña -->
                        <!-- <div class="row">
                            <div class="col-md-12 text-center">
                                <p> <a [routerLink]="['/forgot']">¿Olvidaste tu contraseña?</a>

                                </p>
                            </div>
                        </div> -->
                        <div class="row mt-2 mb-2">
                            <div class="col-md-12 text-center">

                                <button mat-raised-button color="primary" clas s="col-5 "
                                    class="btn btn-primary">Ingresar</button>

                            </div>
                        </div>

                    </form>


                </mat-card-content>

            </mat-card>

        </div>
    </div>
</div>
</div>