<div class="card container-fluid">
  <div class="card-body">
    <h4 class="card-title">Añadir agenda</h4>
    <form>

      <div class="form-group max-height">
        <label for="pacientes">Pacientes:</label>
        <input type="text" class="form-control" name="nombre" placeholder="Buscar..." [(ngModel)]="searchText"
          (input)="mostrarLista = (searchText.length > 0)">
        <ul class="list-group mt-2" *ngIf="mostrarLista">
          <li class="list-group-item" *ngFor="let paciente of filtrarOpciones(searchText)"
            (click)="seleccionarPaciente(paciente)">{{ paciente.nombre }}</li>
        </ul>
      </div>
    
    
    </form>
    
    <!-- formulario para ingresar un agendamiento -->
    <form [formGroup]="servicioFrom" class="d-flex ">
      <!-- Fecha -->
      <div class="form-group mr-2">
        <label for="fecha_agendamiento">Fecha:</label>
        <input type="text" placeholder="1/1/202x" formControlName="fecha_agendamiento" class="form-control" matInput
          [matDatepicker]="picker">
      </div>
      <div class="calendar">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <div class="form-group">
        <label for="hora_agendamiento">Hora:</label>
        <select class="form-control" id="hora_agendamiento" name="hora_agendamiento" formControlName="hora_agendamiento" [(ngModel)]="horaAgendamiento" >
          <option *ngFor="let hora of horas" [value]="hora">{{ hora }}</option>
        </select>
      </div>
      <div>
        <label for="servicio">Servicio:</label>
        <select id="servicio" class="form-control" [(ngModel)]="servicioSeleccionado" name="servicio"
          [ngModelOptions]="{standalone: true}" (change)="buscarServicios()">
          <option *ngFor="let servicio of servicios" [ngValue]="servicio.nombre">{{ servicio.nombre }}</option>
        </select>
      </div>
      
    </form>
    <div class=" d-flex justify-content-betwen">
      <button class="btn btn-primary mr-2" (click)="guardarCambios()">Guardar</button>
      <button class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
    </div>
      </div>
    </div>