<div class="card">
  <div class="card-body">
    <h5 class="card-title">Añadir Servicio</h5>
    <form>
      <div class="form-group max-height">
        <label for="servicio">Servicio:</label>
        <select id="servicio" class="form-control" [(ngModel)]="servicioSeleccionado" name="servicio" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let servicio of servicios" [ngValue]="servicio.nombre">{{ servicio.nombre }}</option>
      </select>
        
      </div>
      <button type="button" class="btn btn-primary" (click)="buscarServicioPorNombre()">Agregar</button>
    </form>
  </div>
</div>