<div class="table-responsive mt-3" *ngIf="agendas.length > 0">

  <div class="card col-md-12" *ngIf="mostrarEditarAgenda">
  <app-editar-agenda (cambiosRealizados)="actualizarAgendas()"></app-editar-agenda>
</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Rut</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Servicio</th>
        <th class="encabezado-columna">
          <button class="btn btn-link" (click)="ordenarPorEstado()">
            Estado
            <span *ngIf="ordenAscendente">▼</span>
            <span *ngIf="!ordenAscendente">▲</span>
          </button>
        </th>
        
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agenda of agendas | slice:inicio:(inicio + 5)">
        <td style="text-align: left; vertical-align: middle;">{{ agenda.paciente.nombre }} {{ agenda.paciente.apellido }}</td>
        <td style="text-align: left; vertical-align: middle;">{{ agenda.paciente.rut }}</td>
        <td style="text-align: left; vertical-align: middle;">{{ agenda.fecha_agendamiento | date: 'dd/MM/yyyy' }}</td>
        <td style="text-align: left; vertical-align: middle;">{{ agenda.hora_agendamiento | hora | date: 'H:mm' }}</td>
        <td style="text-align: left; vertical-align: middle;">{{ agenda.servicio.nombre }}</td>
        <td style="text-align: left; vertical-align: middle;">{{ agenda.estado.status }}</td>
        <td class="text-center">
          <div class="d-inline-block">
            <button class="btn btn-primary" (click)="mostrarComponenteEditarAgenda(agenda.id_agenda)">Editar</button>
          </div>
          
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-between mb-3">
    <p class="mb-0">{{ obtenerTextoPaginacion() }}</p>
    <div>
      <button class="btn btn-primary" (click)="cambiarPagina(-5)" [disabled]="inicio === 0">Anterior</button>
      <button class="btn btn-primary ms-3" (click)="cambiarPagina(5)" [disabled]="inicio >= agendas.length - 5">Siguiente</button>
    </div>
  </div>
  
</div>
