.icono-usuario {
  font-size: 30px; /* Cambia el tamaño del icono según tus necesidades */
  display: inline-block;
  width: 24px; /* Mantiene el tamaño original del icono */
  height: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
}
