<div class="card">
    <div class="card-body">

        <div class="row">
            <div class="col-12">
                <h4>Crear nuevo paciente</h4>

                <form [formGroup]="pacienteForm">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="nombre" class="mr-2">Nombre:</label>
                            <input type="text" placeholder="Ingrese un nombre" formControlName="nombre"
                                class="form-control mr-2" required>
                            <div class="invalid-feedback">Campo obligatorio.</div>

                            <label for="alergia" class="mr-2">Alergia:</label>
                            <input type="text" placeholder="Ingrese alergias" formControlName="alergia"
                                class="form-control" required>
                            <div class="invalid-feedback">Campo obligatorio.</div>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="apellido" class="mr-2">Apellido:</label>
                            <input type="text" placeholder="Ingrese un apellido" formControlName="apellido"
                                class="form-control">

                                <label for="telefono" class="mr-2">Teléfono:</label>
                                <input type="text" placeholder="+569 xxxxxxxx" formControlName="telefono" class="form-control" pattern="^[0-9]+$">
                                
                        </div>

                        <div class="form-group col-md-3">
                            <label for="email" class="mr-2">Email:</label>
                            <input type="text" placeholder="example@email.com" formControlName="email"
                                class="form-control">


                            <label for="direccion" class="mr-2">Dirección:</label>
                            <input type="text" placeholder="Ingrese una direccion" formControlName="direccion"
                                class="form-control mr-2">

                        </div>

                        <div class="form-group col-md-2">
                            <label for="rut" class="mr-2">Rut:</label>
                            <input type="text" placeholder="11.111.111-1" formControlName="rut" class="form-control"
                                minlength="9" (input)="onRutInput($event)">


                            <label for="prevencion" class="mr-2">Prevencion:</label>
                            <input type="text" placeholder="Ingrese una prevencion" formControlName="prevencion"
                                class="form-control">

                        </div>
                        <div class="form-group col-md-2">
                            <label for="edad" class="mr-2">edad:</label>
                            <input type="text" placeholder="Ingrese una edad" formControlName="edad"
                                class="form-control">



                        </div>
                    </div>


                </form>

                <div *ngIf="pacienteForm.invalid" class="text-danger mb-3">Datos ingresados incorrectamente</div>

                <button class="btn btn-primary mr-2" [disabled]="!pacienteForm.valid"
                        (click)="guardarCambios()">
                  Guardar
                </button>
        

                <button class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>


            </div>


        </div>
    </div>
</div>