th.encabezado-columna button.btn-link {
  color: inherit;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.table thead th {
  background-color:cornflowerblue;
}

.botones {
margin-right: 10px;
}

.table {
  margin-top: 1.5rem;

}

.form-group {
  margin-bottom: 0.5rem;
}

.btn {
  margin-top: 1rem;
}

.table thead th {
  background-color:cornflowerblue;
  color:aliceblue;
}
/* Preguntar por los bordes */
table, th, td {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

  