<div class="row">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Administrar Servicios</h5>
      <ul class="nav d-flex justify-content-between align-items-center">
        <li class="nav-item">
          <button type="button" class="btn btn-primary mr-2" (click)="mostrarComponenteAgregarServicio()">Crear un Servicio</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary mr-2" (click)="mostrarComponenteAnadirServicio()">Agregar un Servicio</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary mr-2" (click)="mostrarComponenteModificarServicio()">Modificar un Servicio</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary mr-2" (click)="mostrarComponenteEliminarServicio()">Servicios mas solicitados</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary mr-2" (click)="mostrarComponenteEliminarServicio()">Eliminar un Servicio</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="card col-md-5">
    <div class="card-body">
      <h4>Servicios Disponibles</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="encabezado-columna">
                <button class="btn btn-link" (click)="ordenarPorNombre()">
                  Servicio
                  <span *ngIf="ordenNombreAscendente">▲</span>
                  <span *ngIf="!ordenNombreAscendente">▼</span>
                </button>
              </th>
              <th class="encabezado-columna">
                <button class="btn btn-link" (click)="ordenarPorPrecio()">
                  Precio
                  <span *ngIf="ordenPrecioAscendente">▲</span>
                  <span *ngIf="!ordenPrecioAscendente">▼</span>
                </button>
              </th>
            </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let servicio of servicios.slice((paginaActual - 1) * numServicioPorPagina, paginaActual * numServicioPorPagina)">
              <td>{{ servicio.nombre }}</td>
              <td>{{ servicio.costo | formatoCosto}}</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <p class="mb-0">{{ obtenerTextoPaginacion() }}</p>
          <div>
            <button class="btn btn-primary mr-2" [disabled]="paginaActual === 1" (click)="paginaActual = paginaActual - 1">Anterior</button>
            <button class="btn btn-primary" [disabled]="paginaActual * numAgendasPorPagina >= servicios.length" (click)="paginaActual = paginaActual + 1">Siguiente</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card col-md-7">
    <div class="card col-md-6" *ngIf="mostrarAgregarServicio">
      <app-agregar-servicio (cambiosRealizados)="actualizarServicios()"></app-agregar-servicio>
    </div>

    <div class="card col-md-6" *ngIf="mostrarEliminarServicio">
      <app-eliminar-servicio (cambiosRealizados)="actualizarServicios()"></app-eliminar-servicio>
    </div>

    <div class="card col-md-6" *ngIf="mostrarModificarServicio">
      <app-modificar-servicio (cambiosRealizados)="actualizarServicios()"></app-modificar-servicio>
    </div>

    <div class="card col-md-6" *ngIf="mostrarAnadirServicio">
      <app-anadir-servicio (cambiosRealizados)="actualizarServicios()"></app-anadir-servicio>
    </div>
  </div>
</div>